<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shetuan.mapper.ActivitySignMapper">
    <select id="selectByActUser" resultType="ActivitySign">
        select * from activity_sign where activity_id=#{activityId} and user_id=#{userId}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into activity_sign(activity_id,user_id) values(#{activityId},#{userId})
    </insert>
    <select id="selectByActivityId" resultType="ActivitySign">
        select * from activity_sign where activity_id=#{activityId}
    </select>
    <select id="countByActivity" resultType="Integer">
        select count(1) from activity_sign where activity_id=#{activityId}
    </select>
</mapper>