<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shetuan.mapper.ActivityMapper">
    <select id="selectById" resultType="Activity">
        select * from activity where id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into activity(club_id,title,start_time,end_time,location,max_num,enroll_end_time,content,status)
        values(#{clubId},#{title},#{startTime},#{endTime},#{location},#{maxNum},#{enrollEndTime},#{content},#{status})
    </insert>

    <update id="updateById">
        update activity
        <set>
            <if test="title != null">title=#{title},</if>
            <if test="startTime != null">start_time=#{startTime},</if>
            <if test="endTime != null">end_time=#{endTime},</if>
            <if test="location != null">location=#{location},</if>
            <if test="maxNum != null">max_num=#{maxNum},</if>
            <if test="enrollEndTime != null">enroll_end_time=#{enrollEndTime},</if>
            <if test="content != null">content=#{content},</if>
            <if test="status != null">status=#{status}</if>
        </set>
        where id=#{id}
    </update>

    <select id="selectList" resultType="Activity">
        select * from activity
        <where>
            <if test="clubId != null">club_id = #{clubId}</if>
            <if test="status != null">status = #{status}</if>
        </where>
        order by start_time desc
    </select>
</mapper>